{% extends 'products/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <div class="row">
            <div class="col-sm-8">
                <h2>{{ object.title }}</h2>
                {% if object.productimage_set.count > 0 %}
                <div>
                    {% for img in object.productimage_set.all %}
                    {{ img.image }}
                    <img src="{{ img.image.url }}" class="img-responsive" alt="" />
                    {% endfor %}
                </div>
                {% endif %}
                <p class="lead"> 
                    {{ object.description }}           
                </p>          
            </div>
            <div class="col-sm-4">
                {% if object.variation_set.count > 1 %}
                    {{ object.price }} 
                    
                <select class="form-control">
                {% for object_variation in product.variation_set.all %}
                    <option value="object_variation.id">{{ object_variation.title }}</option>
                {% endfor %}
                    
                </select>
                {% endif %}
                <br>
                <a href="">Add to cart</a>
                <hr>
                <h4>Related Products</h4>
            </div>

        </div>
        
        
    {% endblock %}
    
</body>
</html>